<launch>
  <arg name="grasp_topic" default="/detect_grasps/clustered_grasps"/>

  <node pkg="jetarm_ui" type="gpd_grasp_node.py" name="gpd_grasp" output="screen">
    <param name="grasp_topic" value="$(arg grasp_topic)"/>
    <param name="use_ui_init_pose" value="true"/>
    <param name="ui_config_path" value="/home/hiwonder/jetarm/src/jetarm_ui/config/ui_config.yaml"/>
    <param name="use_saved_grasp_offset" value="true"/>
    <param name="grasp_offset_config_path" value="/home/hiwonder/jetarm/src/jetarm_ui/config/tf_calibration.yaml"/>
    <param name="pre_grasp_posture" value="380"/>
    <param name="grasp_posture" value="650"/>
    <param name="x_offset" value="-0.03"/>
    <param name="y_offset" value="0.00"/>
    <param name="z_offset" value="0.00"/>
    <param name="use_slanted_push_pick" value="true"/>
    <param name="attack_angle_deg" value="20.0"/>
    <param name="base_pick_pitch_deg" value="80.0"/>
    <param name="approach_distance_m" value="0.05"/>
    <param name="retreat_back_m" value="0.03"/>
    <param name="retreat_up_m" value="0.04"/>
    <param name="debug_marker_frame" value="base_link"/>
    <param name="debug_marker_topic" value="/gpd_grasp/debug_markers"/>
    <param name="debug_marker_rate_hz" value="2.0"/>
    <param name="selected_grasp_index" value="-1"/>
    <rosparam param="pick_bounds">
      x_min: 0.05
      x_max: 0.45
      y_min: -0.30
      y_max: 0.30
      z_min: -0.10
      z_max: 0.50
    </rosparam>
    <rosparam param="preferred_point">
      x: 0.45
      y: 0.00
      z: 0.00
    </rosparam>
    <param name="edge_margin_m" value="0.03"/>
    <param name="edge_penalty_weight" value="3.0"/>
  </node>
</launch>
